.central-pane {
    width: 100%;
    height: 100vh;
    padding: 10px;
    background-color: black;
}
.elements-list {
    position: relative;
    float: left;
    width: 20%;
    height: 100vh;
    background-color: darkgrey;
}
.main-canvas {
    position: relative;
    float: left;
    width: 80%;
    height: 100vh;
    background-color: gray;
}